.app-header {
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cf933a;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  padding-top: 1em;
}

@media only screen and (min-width: 1024px) {
  .app-header {
    margin: 25px;
    width: 40%;
    position: sticky;
    top: 150px;
  }
}
