.new-tweet {
  display: none;
  padding: 1em;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  border: none;
  background-color: inherit;
  width: 100%;
  height: 1.5em;
  resize: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.new-tweet .form-properties {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  border-style: solid hidden hidden hidden;
  padding-top: .3em;
}
.new-tweet .form-properties .counter-negative {
  color: red;
}

.new-tweet button {
  font-family: 'Bungee';
  font-size: large;
  background-color: #4056A1;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}

.new-tweet button:active {
  background-color:#26335f;
}

.toast-error {
  display: flex;
  justify-content: space-around;
  background-color: #e25241;
  color: white;
  width:max-content;
  padding: .3em;
  border-radius: 4px;
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.3);
  z-index: 1;
  position: absolute;
  top: 80px;
  animation: slideDown ease 1s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-120px);
  } 
  100% {
      transform: translateY(0);
  }
}

.toast-error .toast-content {
  padding: .3em;
  line-height: 20px;
  cursor: default;
  overflow-wrap: break-word;
}

.toast-error #error-close {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .toast-error {
    top: 25px;
    z-index: 3;
  }
}

@media only screen and (max-width: 540px) {
  .toast-error {
    font-size: medium;
  }
}

@media only screen and (max-width: 375px) {
  .toast-error {
    font-size: small;
  }
}