.new-tweet {
  padding: 1em;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  border: none;
  background-color: inherit;
  width: 100%;
  height: 1.5em;
  resize: none;
  outline: none;
}

.new-tweet .form-properties {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  border-style: solid hidden hidden hidden;
  padding-top: .3em;
}
.new-tweet .form-properties .counter-negative {
  color: red;
}

.new-tweet button {
  font-family: 'Bungee';
  font-size: large;
  background-color: #4056A1;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}

